aiohttp
anthropic
anyio
apscheduler
authlib
beautifulsoup4
cron-descriptor
dateparser
defusedxml
django
django-apscheduler
django-phonenumber-field
django-unfold
docx2txt
e2b-code-interpreter
einops
email-validator
fastapi
google-auth
google-genai
httpx
huggingface-hub
itsdangerous
jinja2
langchain
langchain-community
llama-cpp-python
lxml
magika
markdown-it-py
markdownify
openai
pgvector
phonenumbers
pillow
psutil
psycopg2-binary
pydantic
pyjson5
pymupdf
python-multipart
pytz
pyyaml
rapidocr-onnxruntime
requests
resend
rich
schedule
sentence-transformers
tenacity
tiktoken
torch
transformers
tzdata
uvicorn
websockets
